<p> The Plaza Hotel has been an icon of New York City since its opening on October 1, 1907. The hotel has hosted world
    leaders, officials, top executives, and society, as well as Broadway stars and Hollywood royalty. With a prime
    location on 5th Avenue, The Plaza Hotel has maintained exceptional service and modern style for more than 100. <br>
</p>
<p> <br> From receptions to festivals, The Plaza Hotel offers guests a range of luxurious experiences, especially afternoon
    tea at The Palm Court with views from the luxurious Champagne Bar. </p>
<p> <br> With 282 unique guestrooms, The Plaza Hotel continues to strike a balance between the past and the future with the
    newly launched Legacy Suite Collection. Combining classic ceiling details with modern artwork and luxurious fabrics,
    Plaza's rooms offer variety, combined with superb lighting and amenities. Beautiful wooden finishes create the
    perfect living space. </p>
<p> <br> Thoughtful and attentive service is provided throughout the hotel, adding to its unparalleled luxury and amenities.
    In addition to extensive culinary options and luxurious accommodations, The Plaza Hotel offers a first-class
    shopping experience at The Plaza Boutique, wellness and beauty facilities including the Guerlain Spa. </p>