<footer class="bg-dark text-light">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4">
          <h5 class="mb-3">Address</h5>
          <p>768 Fifth Avenue, <br>  New York, <br> United States</p>
        </div>
        <div class="col-md-4">
          <h5 class="mb-3">Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
            <li><a href="#" class="text-light text-decoration-none">Terms and condition</a></li>
            <li><a href="#" class="text-light text-decoration-none">Contact information</a></li>
          </ul>
        </div>
        <div class="col-md-4">
            <h5 class="mb-3">Social Networks</h5>
            <ul class="list-inline">
              <li class="list-inline-item"><a href="https://www.facebook.com/tonducthanguniversity" class="text-light text-decoration-none" target="_blank"><i class="fa-brands fa-square-facebook fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/tonducthanguniv" class="text-light text-decoration-none" target="_blank"><i class="fa-brands fa-square-twitter fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://www.youtube.com/@TDTUChannel" class="text-light text-decoration-none" target="_blank"><i class="fa-brands fa-square-youtube fa-2x"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/tdtu.edu.vn/" class="text-light text-decoration-none" target="_blank"><i class="fa-brands fa-square-instagram fa-2x"></i></a></li>
            </ul>
          </div>
          
      </div>
    </div>
    <div class="text-center bg-secondary py-3">
      <p class="mb-0 text-red">© Made by students of Ton Duc Thang University, 2023, Inc</p>
    </div>
  </footer>
  